<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Resources Reservation</title>
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <!-- [END css] -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 30px;
        background-color: #2d2d2d;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 10%;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px 20px 20px 20px;
      }
      .searchconcolor {
        background-color: #999999;
      }
      .contextconcolor {
        background-color: #444444;
      }
      .fontcolor {
        color: #CCCCCC;
        font-size: 16px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 95px;
        background-color: #222;
        height: 100%; 
        position: fixed;
        overflow: auto; 
        border: 1px solid #222;
      }

      li a {
        display: block;
        text-align: center;
        color: #999999;
        padding: 20px 4px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #6699CC;
        color: white;
      }
      .home {
        background-color: pink;
        color: white;
      }
      .userpage {
        background-color: #99CC66;
        color: white;
      }

      .btncolor {
        background-color: #6699CC;
        border-color: #6699CC;
        color: #CCCCCC;
      }

    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><b>Resources Reservation Platform</b></a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>

        <div class="collapse navbar-collapse">
          <ul>
            <li class="nav-item home"><a href="/"><font color="CCCCCC"><b>Home</b></font></a></li>
            <li class="nav-item"><a href="/#userreservations"><font color="CCCCCC"><b>Your Reservations</b></font></a></li>
            <li class="nav-item"><a href="/#userresources"><font color="CCCCCC"><b>Your Resources</b></font></a></li>
            <li class="nav-item userpage"><a href="/userpage?user={{ user }}"><font color="CCCCCC"><b>Your Page</b></font></a></li>
            <li class="nav-item"><a href="/#availableresources"><font color="CCCCCC"><b>All Resources</b></font></a></li>
            <li class="nav-item"><a href="/addresource?user={{ user }}"><font color="CCCCCC"><b>Create Resource</b></font></a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row contextconcolor">
        <h3><font color="#6699CC">Edit Resources:</font></h3>
        <form class="form-horizontal fontcolor text-center input-group" id="editResourceForm" role="form" action="/editresource?user={{user}}&resourceid={{ resource_id }}" method="post" enctype="multipart/form-data">
          <input type = "hidden" id = "user" name = "user" value = "{{ user }}">
          <input type = "hidden" id = "url" name = "url" value = "{{ url }}">
          <input type = "hidden" id = "url_linktext" name = "url_linktext" value = "{{ url_linktext }}">

          <div class="input-group">
            <label class="control-label col-md-3">Resource Name</label> 
            <input class="form-input col-md-6" id="resource_name" name="resource_name" placeholder="Resource Name *" type="text" value="{{ resource_name }}" required/>
          </div>
          &nbsp;
          <div class="input-group">
            <label class="control-label col-md-3">Start Date</label> 
            <input class="form-input col-md-6" id="start_date" name="start_date" placeholder="Start Date *" type="date" value="{{ start_date }}" required/>
          </div>
          &nbsp;
          <div class="input-group">
            <label class="control-label col-md-3">Start Time</label> 
            <input class="form-input col-md-6" id="start_time" name="start_time" placeholder="Start Time *" type="time" value="{{ start_time }}" required/>
          </div>
          &nbsp;
          <div class="input-group">
            <label class="control-label col-md-3">End Time</label>
            <input class="form-input col-md-6" id="end_time" name="end_time" placeholder="End Time *" type="time" value="{{ end_time }}" required/>
          </div>
          &nbsp;
          <div class="input-group">
            <label class="control-label col-md-3">Capacity</label>
            <input class="form-input col-md-6" id="capacity" name="capacity" placeholder="Capacity *" type="number" value="{{ capacity }}" required/>
          </div>
          &nbsp;
          <div class="input-group">
            <label class="control-label col-md-3">Tags</label>
            <input class="form-input col-md-6" id="tags" name="tags" placeholder="seperate by comma (hotel, NYC)" type="text" value="{{ tags }}"/>
          </div>
          &nbsp;
          <div class="input-group">
            <label class="control-label col-md-3">Attach An Image?</label>
            <input class="form-input col-md-6" id="image_flag" name="image_flag" placeholder="Attach An Image?" type="checkbox" value="{{ image_flag }}"/>&nbsp;&nbsp;<span>Yes, I will attach an image with this resource</span>
          </div>
          &nbsp;
          <div class="input-group">
            <label class="control-label col-md-3">Upload Image</label>
            <input class="form-input col-md-6" id="image" name="image" placeholder="Attach Image" type="file" accept="*" value="{{ image }}"/>
          </div>
          &nbsp;
          <div class="input-group">
            <label class="control-label col-md-3">Description</label>
            <input class="form-input col-md-6" id="description" name="description" placeholder="description" type="text" value="{{ description }}"/>
          </div>
          &nbsp;
          <div class="input-group">
            <input type="submit" value="Edit Resource" class="dtp-picker-search btncolor" style="width: 160px">
          </div>
          &nbsp;

          {% if flag == "error" %}
          <div class="alert alert-danger" role="alert">
            <span class="sr-only">Error:</span>
            {{ msg }}
          </div>
          {% endif %}
          {% if flag == "success" %}
          <div class="alert alert-success" role="alert">
            <span class="sr-only">Success:</span>
            {{ msg }}
          </div>
          <div class="input-group">
            <a href="/" class="btn btncolor" style="width: 160px"><b>Back to Home</b></a>
          </div>
          {% endif %}
       </form> 
      </div>
    </div>


    <div class="container">
      <div class="row">
        <span class="footer-copyright">
          <font color="4f4f4f">Copyright © 2017 Resources Reservation Platform. 70 Washington Square South New York, NY, 10012 - All rights reserved</font>
        </span>
      </div>
    </div>
  </body>
</html>
{% endautoescape %}
