<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Resources Reservation</title>
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <!-- [END css] -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 30px;
        background-color: #2d2d2d;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 10%;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px 20px 20px 20px;
      }
      .searchconcolor {
        background-color: #999999;
      }
      .contextconcolor {
        background-color: #444444;
      }
      .fontcolor {
        color: #CCCCCC;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 95px;
        background-color: #222;
        height: 100%; 
        position: fixed;
        overflow: auto; 
        border: 1px solid #222;
      }

      li a {
        display: block;
        text-align: center;
        color: #999999;
        padding: 20px 4px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #6699CC;
        color: white;
      }
      .home {
        background-color: pink;
        color: white;
      }
      .userpage {
        background-color: #99CC66;
        color: white;
      }

      .btncolor {
        background-color: #99CC66;
        border-color: #99CC66;
        color: #222;
      }

      .borderless td, .borderless th {
        border: none;
      }

    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><b>Resources Reservation Platform</b></a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>

        <div class="collapse navbar-collapse">
          <ul>
            <li class="nav-item home"><a href="/"><font color="CCCCCC"><b>Home</b></font></a></li>
            <li class="nav-item"><a href="/#userreservations"><font color="CCCCCC"><b>Your Reservations</b></font></a></li>
            <li class="nav-item"><a href="/#userresources"><font color="CCCCCC"><b>Your Resources</b></font></a></li>
            <li class="nav-item userpage"><a href="/userpage?user={{ user }}"><font color="CCCCCC"><b>Your Page</b></font></a></li>
            <li class="nav-item"><a href="/#availableresources"><font color="CCCCCC"><b>All Resources</b></font></a></li>
            <li class="nav-item"><a href="/addresource?user={{ user }}"><font color="CCCCCC"><b>Create Resource</b></font></a></li>
          </ul>
        </div>
      </div>
    </div>



    <div class="container">
    <!--Edit-->
      <div class="row searchconcolor text-center">
        <h3>{{resource.resource_name}}</h3>
        {% if resource.reservations < 1 %}
        <h4>( has not been reserved yet )</h4>
        {% elif resource.reservations == 1 %}
        <h4>( has been reserved 1 time )</h4>
        {% else %}
        <h4>( has been reserved {{ resource.reservations }} times )</h4>
        {% endif %}
        <div class="input-group">
          <a href="/addreservation?user={{ user }}&resourceid={{ resource.resource_id }}" class="btn btncolor" style="width: 160px"><b>Reserve it!</b></a>
          {% if user == resource.resource_owner %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/editresource?user={{ user }}&resourceid={{ resource.resource_id }}" class="btn btncolor" style="width: 160px"><b>Edit resource</b>
          </a>
          {% endif %}
        </div>
      </div>
    </div>



    <div id="userreservations" class="container">
      <div class="row contextconcolor">
      <h4><font color="#CCCCCC">Current and upcoming reservations:</font></h4>
      <hr>
        <table class="table fontcolor borderless">
          <tr>
            <td><b>Resource Name</b></td>
            <td><b>Reserved User</b></td>
            <td><b>Start Time</b></td> 
            <td><b>Duration</b></td>
            <td><b>Delete</b></td>
          </tr>
          {% if reservations %}
            {% for reservation in reservations %}
            <tr>
              <td> 
                <a href="/resourcepage?resourceid={{reservation.resource_id}}&user={{user}}">{{reservation.resource_name}}</a> 
                <a href="/rssdump?resourceid={{resource.resource_id}}&user={{user}}"><img src="/bootstrap/img/rss.png" height="5" width="15"></a>
              </td>
              <td> 
                <a href="/userpage?user={{ reservation.reservation_user }}"><font color="CCCCCC"><b>{{reservation.reservation_user}}</b></font></a>
              </td>
              <td>{{reservation.date_str}}&nbsp;{{reservation.start_time.strftime('%H:%M')}}</td>
              <td>{{reservation.duration}}</td>
              <td> 
              {% if user == reservation.reservation_user %}
              <a href="/deletereservation?user={{user}}&reservationid={{reservation.reservation_id}}" class="btn btn-small"><b>Delete</b>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </table>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <span class="footer-copyright">
          <font color="4f4f4f">Copyright © 2017 Resources Reservation Platform. 70 Washington Square South New York, NY, 10012 - All rights reserved</font>
        </span>
      </div>
    </div>
  </body>
</html>
{% endautoescape %}

